<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - realTimePolls</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/realTimePolls.styles.css" asp-append-version="true" />
    <link href='//fonts.googleapis.com/css?family=Roboto:100,400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href ="/?page=1">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                    <path fill="white" d="M13 10h7l-9 13v-9H4l9-13z" />
                </svg>
            </a>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="username-flex">
                    <div class="">
                    <h2 class="username">@User.Identity.Name</h2>
                </div>
                     <div class="dropdown">
                        <div class="dropdown-btn" type="button"><img src="@ViewBag.Message" class="navbar-avatar" /></div>
                        <ul class="dropdown-menu dropdown-menu-navbar">
                            <a asp-controller="Login" class="dropdown-item " asp-action="Logout">Profile</a>

                            <a asp-controller="Login" class="dropdown-item logout-btn " asp-action="">Logout</a>


                        </ul>
                     </div>
                </div>
            }
            else
            {
            <a asp-controller="Login"  class="sign-in-link" asp-action="Login">Sign-In</a>
            }
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        console.log(@Html.Raw(Json.Serialize(@Model)))
        const dropdown = document.querySelector(".dropdown")
        const ul = document.querySelector(".dropdown-menu")
        dropdown.addEventListener('click', (e) => { 
            e.currentTarget.classList.toggle("show")
            ul.classList.toggle("show")
    })
 
    </script>
    <style>
        .navbar-avatar {
            width: 40px;
            border-radius: 15px;
            margin-right: 0px;
        }
        .logout-btn {
            color: red
        }

        .dropdown-menu-navbar {
            right: -10px
        }

        .username {
            color: white
        }

        .username-flex {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .dropdown-item {
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: bold
        }


    </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
