@model realTimePolls.Models.PollsViewModel
@* @if (Model != null) 
{
   <ol> 
    <li>@Model.Poll.Title</li>
    <li>@Model.Poll.FirstOption</li>
    <li>@Model.Poll.SecondOption</li>
    <li>FirstVotes: @Model.Poll.FirstVotes</li>
    <li>SecondVotes: @Model.Poll.SecondVotes</li>
   </ol>
} 
If userPoll Id is null. if so, then have nothing checked
//dont have an int for first and second votes, just have a map table and use COUNT
elif the 
*@
<form asp-controller="Poll" asp-action="Vote" method="post" id="form">
    <div class="vote-flex">
        <label for="VoteFirst">@Model.Poll.FirstOption</label><br>
        <input type="radio" id="vote-first" name="vote" value="Vote First" @(Model.UserPoll != null && Model.UserPoll.FirstVote == true ? "checked" : "")>
        <br />
        <label for="vote-second">@Model.Poll.SecondOption</label><br>
        <input type="radio" id="vote-second" name="vote" value="Vote Second" @(Model.UserPoll != null && Model.UserPoll.SecondVote == true ? "checked" : "")>
        <br />
        <input type="hidden" name="pollid" value="@Model.Poll.Id" />
        <input type="hidden" name="userid" value="@Model.Poll.UserId"  />
        <button type="submit"> Submit Vote</button>
        <input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Poll", new { pollid = Model.Poll.Id })'" />
    </div>
</form>
<script>
    console.log(@Html.Raw(Json.Serialize(Model)))
    console.log(test)

    function getFormValue(e) {
        e.preventDefault();
        const voteFirst = document.getElementById("vote-first").value;
        const voteSecond = document.getElementById("vote-second").value;
        const hiddenInput = document.getElementById("hidden-input").value
        console.log(voteFirst)
        console.log(voteSecond);
        console.log(hiddenInput)
    }
</script>