@model realTimePolls.Models.PollsViewModel

<ol> 
    <li>@Model.Poll.Title</li>
    <li>@Model.Poll.FirstOption</li>
    <li>@Model.Poll.SecondOption</li>
    <li>FirstVotes: @Model.Poll.FirstVotes</li>
    <li>SecondVotes: @Model.Poll.SecondVotes</li>
</ol>
<button>Vote First</button>
<button>Vote Second</button>